footer {
    background: var(--clr-dark, #000);
    color: var(--clr-light, #fff);
    border-top: 1rem solid var(--clr-primary, rgb(132, 249, 198));
    padding-inline: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

footer .container {
    min-height: var(--default-footer-height, 250px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

footer .grid {
    height: 100%;
}

footer .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

footer .box h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

footer .box ul {
    height: 100%;
    list-style: disc;
    padding: 0;
    margin-left: 0.5rem;
}

footer .box ul li {
    margin-bottom: 0.25rem;
}

footer .box ul a:hover {
    color: var(--clr-primary, rgb(132, 249, 198));;
}



footer .box ul a {
    font-size:0.8rem;
    text-decoration: none;
    font-weight: 300;
    color: rgb(210, 210, 210);
}

footer .branding {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding: 1rem 0;
    padding-bottom: 0.4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer .branding .header {
    font-size: 0.8rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
    margin: 0;
}

footer .branding .header a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

footer .branding .header p {
    color: rgba(255, 255, 255, 0.7);
}


@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    footer .grid {
        gap: 3rem;
    }

    footer .box ul {
        list-style: none;
    }
}