.alertModal {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    min-height: 150px;
    max-width: 400px;
}

.alertModal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px) grayscale(0.6);
}

.alertModal>.container {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.alertModal>.container i {
    font-size: 4em;
    color: #f00;
}

.alertModal>.container>.content {
    text-align: center;
}

.alertModal>.container>.content h2 {
    font-size: 2em;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--clr-text);
}

.alertModal>.container>.content p {
    font-size: 1.2em;
    font-weight: 400;
    color: var(--clr-text-gray);
}

.alertModal>.container>.buttons button {
    margin-inline: 1rem;
}