.alertModal {
    min-height: 150px;
    max-width: 400px;
}
.alertModal>.container {
    margin: 0;
    padding: 1.25rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertModal>.container i {
    font-size: 4em;
    color: #f00;
}

.alertModal>.container>.content {
    text-align: center;
    padding: 0.5rem 0;
}

.alertModal>.container>.content h2 {
    font-size: 2em;
    margin-bottom: 0.25rem;
    font-weight: 600;
    color: var(--clr-text);
}

.alertModal>.container>.content p {
    font-size: 0.8em;
    font-weight: 400;
    color: var(--clr-text-gray);
}
.alertModal>.container>.buttons{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.alertModal>.container>.buttons button {
    margin-inline: 1rem;
}