@keyframes animate__indicator {
    0% {
        opacity: 0;
        margin-top: 10px;
    }

    50% {
        opacity: 1;
        margin-top: 25px;
    }

    100% {
        opacity: 0;
        margin-top: 50px;
    }
}