@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'variables.css';
:root {
    font-size: 14px;
}
*,
*::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* body::-webkit-scrollbar {
    display: none;
  }

body {
-ms-overflow-style: none;
scrollbar-width: none;
} */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
picture,
figure {
    margin: 0;
}



a,
button,
select {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}



body {
    font-family: var(--ff-poppins);
    font-size: var(--fs-4);
    line-height: 1.5;

}

img,
picture {
    max-width: 100%;
    height: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

.w-full {
    width: 100%;
}

.LKRBadge::after {
    content: "LKR";
    background-color: #dc6109;
    color: #fff;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font-size: 0.6rem;
    font-weight: 500;
    display: inline-block;
    margin: 0.5rem 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-col-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row-center{
    display: flex;
    justify-content: center;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.baseline {
    align-items: baseline;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}


.grow {
    flex-grow: 1;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.header {
    margin-bottom: 1.5rem;
}

.content {
    padding: 1rem 0;
}

.container {
    margin-inline: 8rem;
}

.container[container-type="navbar"] {
    padding: 0;
}

.container[container-type="footer"] {
    padding: 0;
}

.container[container-type="section"] {
    padding-block: 2rem;
}

.container[container-type="dashboard-section"] {
    margin: 4rem 2rem 0 15rem;
    padding-block: 1rem;
}

.container[container-type="dashboard-footer"] {
    margin: 0 2rem 0 15rem;
    padding-block: 1rem;
}


@media (prefers-reduced-motion:reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* breakpoints */

/* 
--breakpoint-xxl: 1440px;
--breakpoint-xl: 1200px;
--breakpoint-lg: 992px;
--breakpoint-md: 768px;
--breakpoint-sm: 576px;
--breakpoint-xs: 0px; 
*/


@media screen and (min-width: 0px) {
    .container {
        margin-inline: 1rem;
    }

    .container[container-type="section"] {
        padding-block: 0.75rem;
    }

    .content {
        text-align: center;
    }

    .header {
        text-align: center;
    }

}


@media screen and (min-width: 576px) {
    .container {
        margin-inline: 1.2rem;
    }

    .container[container-type="section"] {
        padding-block: 0.85rem;
    }

    .content {
        text-align: center;
    }

    .header {
        text-align: center;
    }

}

@media screen and (min-width:768px) {
    .container {
        margin-inline: 2rem;
    }

    .container[container-type="section"] {
        padding-block: 1rem;
    }

    .content {
        text-align: left;
    }

    .header {
        text-align: left;
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin-inline: 6rem;
    }

    .container[container-type="section"] {
        padding-block: 1.25rem;
    }

    .content {
        text-align: left;
    }

    .header {
        text-align: left;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        margin-inline: 8rem;
    }

    .container[container-type="section"] {
        padding-block: 1.5rem;
    }

    .content {
        text-align: left;
    }

    .header {
        text-align: left;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        margin-inline: 10rem;
    }

    .container[container-type="section"] {
        padding-block: 1.75rem;
    }

    .content {
        text-align: left;
    }

    .header {
        text-align: left;
    }
}