* {box-sizing: border-box;}

body {
    margin: 0px; 
    padding: 0px;
    font-family: "Lato", sans-serif;
}

.navbar {
    background-color: #303030;
    margin: 0px; 
    padding: 20px; 
    color: white;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(91, 91, 91, 16%);
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 17px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #1FAA68;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.icon {
    width: 15%;
    padding-right: 10px;
}

div.content {
    margin-left: 200px;
    margin-right: 75px;
    padding: 10px 20px;
    height: 100%;
}

.search-container input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 90%;
    background-color: rgba(91, 91, 91, 16%);
    border-radius: 0px 25px 25px 0px;
}

.search-container button {
    float: right;
    padding: 12px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgba(91, 91, 91, 16%);
    font-size: 17px;
    border: none;
    border-radius: 25px 0px 0px 25px;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
 }
  

.search-icon {
    width: 0.5rem;
}

.content-navbar {
    margin-top: 15px;
    overflow: hidden;
    background-color: rgba(91, 91, 91, 16%);
}

.content-navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.content-navbar a:hover {
    background-color: #555;
    color: white;
}

.content-navbar a.active {
    background-color: #1FAA68;
    color: white;
}

.tb {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}

.tb th, .tb td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tb tr:hover {background-color: #ddd;}

.tb th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1FAA68;
    color: white;
  }