/* breakpoints */

/* 
--breakpoint-xxl: 1440px;
--breakpoint-xl: 1200px;
--breakpoint-lg: 992px;
--breakpoint-md: 768px;
--breakpoint-sm: 576px;
--breakpoint-xs: 0px; 
*/

/* .test {
    background-color:blue !important;
} */


.grid {
    display: grid;
}

.grid[gap="1"] {
    grid-gap: 1rem;
}

.grid[gap="2"] {
    grid-gap: 2rem;
}

.grid[gap="3"] {
    grid-gap: 3rem;
}

.grid[gap="4"] {
    grid-gap: 4rem;
}


.grid>*[order="1"]{
    order: 1;
}
.grid>*[order="2"]{
    order: 2;
}

.grid>*[order="3"]{
    order: 3;
}

.grid>*[order="4"]{
    order: 4;
}

.grid>*[order="5"]{
    order: 5;
}

.grid>*[order="6"]{
    order: 6;
}

.grid>*[order="7"]{
    order: 7;
}

.grid>*[order="8"]{
    order: 8;
}

.grid>*[order="9"]{
    order: 9;
}

.grid>*[order="10"]{
    order: 10;
}

.grid>*[order="11"]{
    order: 11;
}

.grid>*[order="12"]{
    order: 12;
}



@media screen and (min-width: 0px) {
    .grid[xs="1"] {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid[xs="2"] {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid[xs="3"] {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid[xs="4"] {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid[xs="6"] {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid[xs="12"] {
        grid-template-columns: repeat(12, 1fr);
    }

     /* order    */

    .grid>*[order-xs="1"]{
        order: 1;
    }
    .grid>*[order-xs="2"]{
        order: 2;
    }

    .grid>*[order-xs="3"]{
        order: 3;
    }

    .grid>*[order-xs="4"]{
        order: 4;
    }

    .grid>*[order-xs="5"]{
        order: 5;
    }

    .grid>*[order-xs="6"]{
        order: 6;
    }

    .grid>*[order-xs="7"]{
        order: 7;
    }

    .grid>*[order-xs="8"]{
        order: 8;
    }

    .grid>*[order-xs="9"]{
        order: 9;
    }

    .grid>*[order-xs="10"]{
        order: 10;
    }

    .grid>*[order-xs="11"]{
        order: 11;
    }

    .grid>*[order-xs="12"]{
        order: 12;
    }
}


@media screen and (min-width: 576px) {
    .grid[sm="1"] {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid[sm="2"] {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid[sm="3"] {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid[sm="4"] {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid[sm="6"] {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid[sm="12"] {
        grid-template-columns: repeat(12, 1fr);
    }

    /* order    */

    .grid>*[order-sm="1"]{
        order: 1;
    }
    .grid>*[order-sm="2"]{
        order: 2;
    }

    .grid>*[order-sm="3"]{
        order: 3;
    }

    .grid>*[order-sm="4"]{
        order: 4;
    }

    .grid>*[order-sm="5"]{
        order: 5;
    }

    .grid>*[order-sm="6"]{
        order: 6;
    }

    .grid>*[order-sm="7"]{
        order: 7;
    }

    .grid>*[order-sm="8"]{
        order: 8;
    }

    .grid>*[order-sm="9"]{
        order: 9;
    }

    .grid>*[order-sm="10"]{
        order: 10;
    }

    .grid>*[order-sm="11"]{
        order: 11;
    }

    .grid>*[order-sm="12"]{
        order: 12;
    }
}

@media screen and (min-width:768px) {
    .grid[md="1"] {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid[md="2"] {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid[md="3"] {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid[md="4"] {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid[md="6"] {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid[md="12"] {
        grid-template-columns: repeat(12, 1fr);
    }
    /* order    */

    .grid>*[order-md="1"]{
        order: 1;
    }
    .grid>*[order-md="2"]{
        order: 2;
    }

    .grid>*[order-md="3"]{
        order: 3;
    }

    .grid>*[order-md="4"]{
        order: 4;
    }

    .grid>*[order-md="5"]{
        order: 5;
    }

    .grid>*[order-md="6"]{
        order: 6;
    }

    .grid>*[order-md="7"]{
        order: 7;
    }

    .grid>*[order-md="8"]{
        order: 8;
    }

    .grid>*[order-md="9"]{
        order: 9;
    }

    .grid>*[order-md="10"]{
        order: 10;
    }

    .grid>*[order-md="11"]{
        order: 11;
    }

    .grid>*[order-md="12"]{
        order: 12;
    }
}

@media screen and (min-width: 992px) {
    .grid[lg="1"] {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid[lg="2"] {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid[lg="3"] {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid[lg="4"] {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid[lg="6"] {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid[lg="12"] {
        grid-template-columns: repeat(12, 1fr);
    }

    /* order    */

    .grid>*[order-lg="1"]{
        order: 1;
    }
    .grid>*[order-lg="2"]{
        order: 2;
    }

    .grid>*[order-lg="3"]{
        order: 3;
    }

    .grid>*[order-lg="4"]{
        order: 4;
    }

    .grid>*[order-lg="5"]{
        order: 5;
    }

    .grid>*[order-lg="6"]{
        order: 6;
    }

    .grid>*[order-lg="7"]{
        order: 7;
    }

    .grid>*[order-lg="8"]{
        order: 8;
    }

    .grid>*[order-lg="9"]{
        order: 9;
    }

    .grid>*[order-lg="10"]{
        order: 10;
    }

    .grid>*[order-lg="11"]{
        order: 11;
    }

    .grid>*[order-lg="12"]{
        order: 12;
    }
}

@media screen and (min-width: 1200px) {
    .grid[xl="1"] {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid[xl="2"] {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid[xl="3"] {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid[xl="4"] {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid[xl="6"] {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid[xl="12"] {
        grid-template-columns: repeat(12, 1fr);
    }

    /* order    */

    .grid>*[order-xl="1"]{
        order: 1;
    }
    .grid>*[order-xl="2"]{
        order: 2;
    }

    .grid>*[order-xl="3"]{
        order: 3;
    }

    .grid>*[order-xl="4"]{
        order: 4;
    }

    .grid>*[order-xl="5"]{
        order: 5;
    }

    .grid>*[order-xl="6"]{
        order: 6;
    }

    .grid>*[order-xl="7"]{
        order: 7;
    }

    .grid>*[order-xl="8"]{
        order: 8;
    }

    .grid>*[order-xl="9"]{
        order: 9;
    }

    .grid>*[order-xl="10"]{
        order: 10;
    }

    .grid>*[order-xl="11"]{
        order: 11;
    }

    .grid>*[order-xl="12"]{
        order: 12;
    }
}

@media screen and (min-width: 1440px) {
    .grid[xxl="1"] {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid[xxl="2"] {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid[xxl="3"] {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid[xxl="4"] {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid[xxl="6"] {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid[xxl="12"] {
        grid-template-columns: repeat(12, 1fr);
    }

    /* order    */

    .grid>*[order-xxl="1"]{
        order: 1;
    }
    .grid>*[order-xxl="2"]{
        order: 2;
    }

    .grid>*[order-xxl="3"]{
        order: 3;
    }

    .grid>*[order-xxl="4"]{
        order: 4;
    }

    .grid>*[order-xxl="5"]{
        order: 5;
    }

    .grid>*[order-xxl="6"]{
        order: 6;
    }

    .grid>*[order-xxl="7"]{
        order: 7;
    }

    .grid>*[order-xxl="8"]{
        order: 8;
    }

    .grid>*[order-xxl="9"]{
        order: 9;
    }

    .grid>*[order-xxl="10"]{
        order: 10;
    }

    .grid>*[order-xxl="11"]{
        order: 11;
    }

    .grid>*[order-xxl="12"]{
        order: 12;
    }
}