@import 'variables.css';

:root {
    --default-cols: repeat(auto-fit, 1fr);
    --xl-cols: repeat(auto-fit, 1fr);
    --lg-cols: repeat(auto-fit, 1fr);
    --md-cols: repeat(auto-fit, 1fr);
    --sm-cols: repeat(auto-fit, 1fr);

    --table-head-background-color: var(--clr-secondary-light);
    --table-head-color: var(--clr-light);
    --table-head-border-color: var(--clr-secondary-light, #ccc);
}

.grid__table {
    margin-top: 1rem;
}

.grid__table>.head {
    background-color: var(--clr-light);
}

.grid__table>.head>.row,
.grid__table>.body>.row {
    display: grid;
    grid-template-columns: var(--xl-cols);
}

.grid__table>.head>.row {
    min-height: 3.5rem;
    border: 1px solid var(--table-head-border-color);
    background-color: var(--table-head-background-color);
    box-shadow: 0 1px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;

}

.grid__table>.head>.row>.data {
    padding-left: 1rem;
    margin-block: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid #ccc;
}

.grid__table>.head>.row>.data:first-of-type {
    border-left: none;
}

.grid__table>.head>.row>.data>p {
    color: var(--table-head-color);
    font-size: 1rem;
    font-weight: 400;
}

.grid__table>.body>.row {
    position: relative;
    padding: 1rem 0.5rem;
    min-height: 2rem;
    border-bottom: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
    border-inline: 1px solid #ccc;
}

.grid__table>.body>.row:nth-of-type(2n) {
    background-color: #f3f3f3;
}

.grid__table>.body>.row>.data {
    text-transform: capitalize;
    overflow: hidden;
    padding-left: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

.grid__table>.body>.row>.actions {
    text-transform: capitalize;
    overflow: hidden;
    padding-left: 0.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
}

.grid__table>.body>.row>.actions>button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.grid__table>.body>.row>.actions>button>i {
    font-size: 1.3rem;
    rotate: 0deg;
    transition: all 0.2s ease-in-out;
}

.grid__table>.body>.row>.actions>button>i[show] {
    rotate: 180deg;
}

.grid__table>.body>.row>.actions>button:hover>i {
    color: var(--clr-primary, #1d1d1d);
}

.grid__table>.body>.row>.data>h2 {
    width: 90%;
}

.grid__table>.body>.row>.data>h3 {
    font-weight: 500;
}

.grid__table>.body>.row>.expand {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.grid__table>.body>.row>.expand[show] {
    max-height: 5000px;
}

.grid__table .expand>* {
    display: none !important;
}

.grid__table .expand>*[always] {
    display: block !important;
}


.grid__table>.body>.row>.flex-start-x {
    justify-content: flex-start;
}

.grid__table>.body>.row>.flex-start-y {
    align-items: flex-start;
}

.grid__table>.body>.row>.flex-center-x {
    justify-content: center;
}

.grid__table>.body>.row>.flex-center-y {
    align-items: center;
}

.grid__table>.body>.row>.flex-center {
    justify-content: center;
    align-items: center;
}

.grid__table>.body>.row>.flex-end-x {
    justify-content: flex-end;
}

.grid__table>.body>.row>.flex-end-y {
    align-items: flex-end;
}

@media screen and (max-width: 1200px) {

    .grid__table>.head,
    .grid__table>.body>.row {
        grid-template-columns: var(--xl-cols, repeat(auto-fit, 1fr));
    }

    .grid__table *[hideIn="xl"] {
        display: none !important;
    }

    .grid__table .expand>*[showIn="xl"] {
        display: block !important;
    }
}

@media screen and (max-width: 1024px) {

    .grid__table>.head,
    .grid__table>.body>.row {
        grid-template-columns: var(--lg-cols, repeat(auto-fit, 1fr));
    }

    .grid__table *[hideIn="lg"] {
        display: none !important;
    }

    .grid__table .expand>*[showIn="lg"] {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {

    .grid__table>.head,
    .grid__table>.body>.row {
        grid-template-columns: var(--md-cols, repeat(auto-fit, 1fr));
    }

    .grid__table *[hideIn="md"] {
        display: none !important;
    }

    .grid__table .expand>*[showIn="md"] {
        display: block !important;
    }
}

@media screen and (max-width: 576px) {

    .grid__table>.head,
    .grid__table>.body>.row {
        grid-template-columns: var(--sm-cols, repeat(auto-fit, 1fr));
    }

    .grid__table *[hideIn="sm"] {
        display: none !important;
    }

    .grid__table .expand>*[showIn="sm"] {
        display: block !important;
    }
}