@import 'animations.css';

.section-margin {
    margin: 6.25rem 0;
}

/* ==================================================================================================== */

.search__bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__bar>input {
    padding: 0.8rem 1rem;
    border: none;
    min-width: 500px;
    border-radius: 0.2rem 0 0 0.2rem;

}

.search__bar>button {
    padding: 0.8rem 1rem;
    border: none;
    background-color: var(--clr-primary);
    color: var(--text-light);
    border-radius: 0 0.2rem 0.2rem 0;
}

.search__bar :where(input, button):focus {
    outline: none;
}

/* ==================================================================================================== */




/* ==================================================================================================== */

.actor {
    background-color: #fff;
}

.actor__content {
    position: relative;
    margin-top: 1rem;
}

.actor__content_item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    width: 100%;
    /* height: 50vh; */
    margin-bottom: 2rem;
    opacity: 0;
}

.actor__content_item:nth-child(1) {
    opacity: 1;
}

.actor__content_item_title {
    width: 50%;
    background-color: var(--clr-primary);
}

.actor__content_item_title>p {
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #fff;
}

.actor__content_item_text>p {
    line-height: 1.4;
}

.actor__content_item_text>a {
    padding: 0.5rem 1.5rem;
    border: none;
    text-decoration: none;
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.send_back {
    position: absolute;
    top: 0;
    left: 0;
}

.active {
    opacity: 1;
}


.actor__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: rgb(26, 26, 26);
    font-size: 1.2rem;
    margin-block: 1rem;
    cursor: pointer;
    border: none;
    /* border-right: 1px solid rgba(4, 4, 4, 0.59); */
}

.actor__link:last-child {
    border-right: none;
}

.actor__link:hover {
    color: #25b6ac;
}

.actor__link>img {
    width: 40px;
}

/* .actor__link:hover {
    background-color: rgb(22, 200, 232);
    color: #fff;
} */

.actor__link p {
    margin-top: 10px;
    font-weight: 500;
}

.actor__img {
    /* width: 100%; */
    height: 350px;
}

.actor__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


































.service {
    background-color: #eaeaea;
    padding: 2rem 0;
}


.card__link {
    text-decoration: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    cursor: pointer;
}

.card__link>img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 0.5rem;
}


.service__card {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
    place-items: center;
    display: none;
}

.service__card:nth-child(1) {
    display: grid;
}


.service__card_content {
    width: 100%;
    height: 100%;
}

.service__card_content>a {
    width: 100px;
    color: var(--clr-light);
    background-color: var(--clr-primary);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;

}

.service__card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: red;
    /* overflow: hidden; */
}

.service__card__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 0 0 2rem 2rem; */
    /* border-radius: 8% 92% 12% 88% / 83% 9% 91% 17%; */
}


.actor__name {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    padding: 0.5rem 1rem;
}