.image__uploader input {
    display: none;
}

.image__uploader .title p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.image__uploader .title span {
    color: red;
    font-size: 1.5rem;
}

.image__uploader .text__box {
    min-height: 150px;
    padding: 2rem;
    border: 2px dashed #ccc;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.image__uploader .upload__svg {
    width: 100px;
    margin-left: 2rem;
}

.image__uploader .text__box p {
    color: #3c3c3c;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.image__uploader .text__box_dragover {
    border: 2px solid var(--clr-primary, #ff6b00);
}

.browse__btn {
    color: var(--clr-light);
    background-color: var(--clr-primary);
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.1rem;

}

.text__box_preview {
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;
    display: none;
}

.text__box_preview img {
    width: 100px;
    height: auto;
    margin: 0.5rem;
    object-fit: cover;
    filter: brightness(0.75);
    border-radius: 0.2rem;
    transition: all 0.2s ease-in-out;
}

.text__box_preview img:hover {

    filter: brightness(1);
}