/* navbar */
.nav {
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.574);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}
.nav-back{
    height: 4rem;
}

.nav__container {
    position: relative;
    margin: 0 2rem;
    height: 4rem;
}

.nav__brand {
    user-select: none;

}

.nav__brand>img {
    width:10rem;
    margin-right: 0.625rem;
}

.nav__menu {
    margin-left: 2rem;
    list-style: none;
}

.nav__menu_item {

    margin-inline: 0.3rem;
}

.nav__menu_item>a {
    padding: 0.3rem 1rem;
    text-decoration: none;
    border-radius: 0.625rem;

}

.nav__menu_item>a:hover {}




.btn__sign_up {
    margin-left: 1rem;
    background-color: var(--clr-primary);
}


.nav__profile>span {
    right: 0;
    bottom: 0;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    cursor: pointer;
}

.nav__profile>img {
    width: 1.75rem;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    cursor: pointer;

}


.profile__menu {
    position: absolute;
    display: none;
    top: 3rem;
    right: 0;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 10px 2px hsla(0, 0%, 0%, 0.367);
    z-index: 1003;
}

.profile__menu>ul>li:hover>a {
    color: rgb(176, 29, 29);
}

.profile__menu>ul {
    margin: 0;
    padding: 0.3rem 0.5rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.profile__menu>ul>li>a {
    text-decoration: none;
    color: var(--clr-dark);
    font-size: var(--fs-3);
}


/* =================================================================================== */
