nav {
    background-color: var(--clr-dark, #000);
}
.container[container-type="section"] {
    margin-top: 4rem;
}
/* ============================================================================================ */


.search__form {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    width: 40%;
    margin: 1.5rem 0;
}

.search__form>* {
    margin: 0;
}

.search__form>input {
    width: 100%;
    padding: 0.5rem;
}

.search_button {
    border-radius: 0 0.5rem 0.5rem 0;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    width: 40%;
}

.filters>* {
    width: 100%;
    padding: 0.2rem 0;
}

/* .form>button {
    border: none;
    padding: 0.5rem 1rem;
    background-color: #20C376;
    color: #fff;
} */


.result__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.result__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 2rem;
}

.result__card {
    min-height: 300px;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.card__img {
    position: relative;
    width: 100%;
}

.card__img>img {
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.farmer__name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-block: 1rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
}

.farmer__name>p {
    padding-left: 0.5rem;
    color: #fff;
}

.card__content {
    padding: 1rem;
}