.sidebar {
    margin: 0;
    padding: 1rem 0;
    min-width: 225px;
    background-color: rgba(255, 255, 255, 0.642);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.081);
}


.sidebar__link_items {
    width: 100%;
}


.sidebar_link {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}

.sidebar_link>a {
    transition: all 0.1s ease-in-out;
}

.sidebar_link:hover {
    color: var(--clr-light);
    background-color: var(--clr-primary);
}

.sidebar_link:hover>a {
    color: var(--clr-light);
}

.sidebar_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--clr-dark);

}
