@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'variables.css';
/* variables */


/* ----------------------------------------------- */

*,
*::before *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
picture,
figure {
    margin: 0;
}


a,
button,
select {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


body {
    font-family: var(--ff-poppins);
    font-size: var(--fs-4);
    /* min-height: 100vh; */
    line-height: 1.5;

}

img,
picture {
    max-width: 100%;
    height: block;
}

input,
button,
textarea,
select {
    font: inherit;
}


@media (prefers-reduced-motion:reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


.helper_pink {
    border: 2px solid pink;
}

.helper_hotpink {
    border: 2px solid hotpink;
}

.helper_yellow {
    border: 2px solid rgb(255, 251, 0);
}

.helper_red {
    border: 2px solid rgb(255, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------- */

/* utils */

/* .container {
    padding-inline: 1rem;
    margin-inline: 10rem;
    min-height:100vh;
} */

/* Color */
.bg-dark {
    background-color: var(--clr-dark);
}

.bg-gray {
    background-color: var(--clr-gray);
}

.bg-light {
    background-color: var(--clr-light);
}

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-secondary {
    background-color: var(--clr-secondary);
}

.text-dark {
    color: var(--clr-dark);
}

.text-gray {
    color: var(--clr-gray);
}

.text-light {
    color: var(--clr-light);
}

.text-primary {
    color: var(--clr-primary);
}

.text-secondary {
    color: var(--clr-secondary);
}



/* Typography */

.ff-serif {
    font-family: var(--ff-serif);
}

.ff-sans-cond {
    font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
    font-family: var(--ff-sans-normal);
}

.ff-poppins {
    font-family: var(--ff-poppins);
}

.ff-roboto {
    font-family: var(--ff-roboto);
}



.fs-10 {
    font-size: var(--fs-10);
}

.fs-9 {
    font-size: var(--fs-9);
}

.fs-8 {
    font-size: var(--fs-8);
}

.fs-7 {
    font-size: var(--fs-7);
}

.fs-6 {
    font-size: var(--fs-6);
}

.fs-5 {
    font-size: var(--fs-5);
}

.fs-4 {
    font-size: var(--fs-4);
}

.fs-3 {
    font-size: var(--fs-3);
}

.fs-2 {
    font-size: var(--fs-2);
}


.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}


.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-dec-none {
    text-decoration: none;
}



/* flex */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-c-c {
    justify-content: center;
    align-items: center;
}

.flex-sb-c {
    justify-content: space-between;
    align-items: center;
}

.flex-sa-c {
    justify-content: space-around;
    align-items: center;
}

.flex-se-s {
    justify-content: space-evenly;
    align-items: center;
}

.flex-c-s {
    justify-content: center;
    align-items: start;
}

.flex-c-e {
    justify-content: center;
    align-items: end;
}

.flex-e-c {
    justify-content: end;
    align-items: center;
}

.flex-stretch {
    align-items: stretch;
}


/* Grid */

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.gird-center {
    place-items: center;
}


/* gap */

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}


/* ----------------------------------------------------------------------------------------------- */
/* position */

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

/* ----------------------------------------------------------------------------------------------- */
/* margin */

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.m-4 {
    margin: 4rem;
}

.m-5 {
    margin: 5rem;
}

.mx-0 {
    margin-inline: 0;
}

.mx-1 {
    margin-inline: 1rem;
}

.mx-2 {
    margin-inline: 2rem;
}

.mx-3 {
    margin-inline: 3rem;
}

.mx-4 {
    margin-inline: 4rem;
}

.mx-5 {
    margin-inline: 5rem;
}


.my-0 {
    margin-block: 0;
}

.my-025 {
    margin-block: 0.25rem;
}

.my-05 {
    margin-block: 0.5rem;
}

.my-075 {
    margin-block: 0.75rem;
}

.my-1 {
    margin-block: 1rem;
}

.my-2 {
    margin-block: 2rem;
}

.my-3 {
    margin-block: 3rem;
}

.my-4 {
    margin-block: 4rem;
}

.my-5 {
    margin-block: 5rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-5 {
    margin-left: 5rem;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-5 {
    margin-right: 5rem;
}


.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.p-5 {
    padding: 5rem;
}

.px-0 {
    padding-inline: 0;
}

.px-1 {
    padding-inline: 1rem;
}

.px-2 {
    padding-inline: 2rem;
}

.px-3 {
    padding-inline: 3rem;
}

.px-4 {
    padding-inline: 4rem;
}

.px-5 {
    padding-inline: 5rem;
}

.py-0 {
    padding-block: 0;
}

.py-1 {
    padding-block: 1rem;
}

.py-2 {
    padding-block: 2rem;
}

.py-3 {
    padding-block: 3rem;
}

.py-4 {
    padding-block: 4rem;
}

.py-5 {
    padding-block: 5rem;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pt-5 {
    padding-top: 5rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-3 {
    padding-left: 3rem;
}

.pl-4 {
    padding-left: 4rem;
}

.pl-5 {
    padding-left: 5rem;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-3 {
    padding-right: 3rem;
}

.pr-4 {
    padding-right: 4rem;
}

.pr-5 {
    padding-right: 5rem;
}

/* ----------------------------------------------------------------------------------------------- */

.h-full {
    height: 100%;
}

.h-90 {
    height: 90%;
}

.h-80 {
    height: 80%;
}

.h-70 {
    height: 70%;
}

.h-60 {
    height: 60%;
}

.h-50 {
    height: 50%;
}

.h-40 {
    height: 40%;
}

.h-30 {
    height: 30%;
}

.h-20 {
    height: 20%;
}

.h-10 {
    height: 10%;
}

.h-5 {
    height: 5%;
}


.h-screen {
   height: 100vh;
}

.h-90vh {
    height: 90vh;
}

.h-80vh {
    height: 80vh;
}

.h-70vh {
    height: 70vh;
}

.h-60vh {
    height: 60vh;
}

.h-50vh {
    height: 50vh;
}

.h-40vh {
    height: 40vh;
}

.h-30vh {
    height: 30vh;
}

.h-20vh {
    height: 20vh;
}

.h-10vh {
    height: 10vh;
}



.w-full {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

.w-5 {
    width: 5%;
}


.w-screen {
    width: 100vw;
}

.w-90vw {
    width: 90vw;
}

.w-80vw {
    width: 80vw;
}

.w-70vw {
    width: 70vw;
}

.w-60vw {
    width: 60vw;
}

.w-50vw {
    width: 50vw;
}

.w-40vw {
    width: 40vw;
}

.w-30vw {
    width: 30vw;
}

.w-20vw {
    width: 20vw;
}

.w-10vw {
    width: 10vw;
}


.b-none {
    border: none;
}



.border-b {
    padding-bottom: 2rem;
    border-bottom: 1px solid #767676;
}


.horizontal-devider {
    padding-bottom: 2rem;
    border-bottom: 1px solid #767676;

}



/* ----------------------------------------------------------------------------------------------- */

/* components */

/* button */

.btn {
    --btn-background: transparent;
    --btn-color: var(--clr-dark, #000000);
    --btn-border-color: var(--btn-background, #000000);

    place-items: center;
    background-color: var(--btn-background);
    display: grid;
    color: var(--btn-color);
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: var(--btn-border, none);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.btn-light {
    --btn-background: transparent;
    --btn-color: var(--clr-light);
    --btn-border: none;
}

.btn-dark {
    --btn-background: var(--clr-dark);
    --btn-color: var(--clr-light);
    --btn-border: none;
}

.btn-primary {
    --btn-background: var(--clr-primary);
    --btn-color: var(--clr-light);
    --btn-border: none;
}

.btn-secondary {
    --btn-background: var(--clr-secondary);
    --btn-color: var(--clr-light);
    --btn-border: none;
}

.btn-danger {
    --btn-background: var(--clr-danger);
    --btn-color: var(--clr-light);
    --btn-border: none;
}


/* deviders */

.heading-underline {
    border-bottom:1px solid rgb(60, 60, 60);
}



.h-devider-100 {
    width: 100px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1rem auto;
}

.h-devider-200 {
    width: 200px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    ;
    margin: 1rem auto;
}

.h-devider-400 {
    width: 400px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    ;
    margin: 1rem auto;
}

.h-devider-600 {
    width: 650px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.307);
    ;
    margin: 1rem auto;
}


/* dashboard container */

.dashboard-container {
    margin-top: 5rem;
    margin-left: 250px;
    margin-right: 3rem;
    min-height: calc(100vh - 8rem);
}

/* page heading */

.page-heading-1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 1rem 0;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


/* alert */


.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 5rem;
    right: 2rem;
}

.alert>i {
    margin-right: 1.5rem;
}

.alert>div {
    display: flex;
    flex-direction: column;
}

.alert>div>h4 {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.alert>div>p {
    padding-top: 0.3rem;
}

.alert-success {
    background-color: rgb(14, 175, 108);
    color: var(--clr-light);
}

.alert-error {
    background-color: rgba(223, 48, 48, 0.905);
    color: var(--clr-light);
}



/* breadcrumbs */

.breadcrumbs {
    display: flex;
    padding: 0.75rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.breadcrumbs>* {
    color: rgb(56, 56, 56);
    text-decoration: none;
}

.breadcrumbs :where(:not(:last-child))::after {
    content: ">";
    margin-inline: 0.5rem;

}

.breadcrumbs :first-child {
    color: #000;
    font-weight: var(--fw-5);
}

.breadcrumbs>a:hover {
    color: var(--clr-primary);
    cursor: pointer;
}


/* .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1002;
    justify-content: center;
    align-items: flex-start;
    display:none;

}

.msgbox {
    margin-top: 4rem;
    background-color: var(--clr-light);
    width: 450px;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.211);
    display: flex;
    justify-content: center;
    align-items: center;
} */


.form__control {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;

}

.form__control>label {
    color: rgb(44, 44, 44);
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
}