:root {
    --clr-dark: #1e1e1e;
    --clr-gray: #ededed;
    --clr-gray-2: #f1f1f1;
    --clr-light: #ffffff;
    --clr-primary: #1d9a5f;
    --clr-danger: #DC3545;
    --clr-primary-light: #22ac6b;
    --clr-secondary: #01058a;
    --clr-secondary-light: #0c12ae;
    --clr-text-gray: #535353;
    --clr-text: #404145;


    --fs-10: 9.375rem;
    --fs-9: 6.25rem;
    --fs-8: 3.5rem;
    --fs-7: 2rem;
    --fs-6: 1.5rem;
    --fs-5: 1.25rem;
    --fs-4: 1rem;
    --fs-3: 0.875rem;
    --fs-2: 0.75rem;

    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;

    --ff-serif: 'Merriweather', serif;
    --ff-sans-cond: 'Montserrat', sans-serif;
    --ff-sand-normal: 'Roboto Mono', monospace;
    --ff-poppins: 'Poppins', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;


    --default-container-width: 90vw;
    --default-navbar-height: 70px;
    --default-footer-height: 25rem;


    /* breakpoints */

    --breakpoint-xxl: 1440px;
    --breakpoint-xl: 1200px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 576px;
    --breakpoint-xs: 0px;

    --navbar-height: 4.5rem;

    --sidebar-width: clamp(220px, 70%, 400px);
    --dashboard-sidebar-width: 15rem;
    --container-margin-left: calc(var(--dashboard-sidebar-width) + 4rem);
    --container-margin-right: 3rem;
    --topbar-margin: 3rem;


}