nav {
    background-color: var(--clr-dark, #000);
}

.container[container-type="section"] {}

.title {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.title h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.title p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-text-gray);
}

.checkout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.checkout .details {
    padding: 1rem;
    min-height: 20rem;
    border: 1px solid #e5e5e5;
}

.checkout .details>h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

.checkout .details>* {
    margin-bottom: 1rem;
}

.checkout .details .image {
    border-radius: 0.5rem;
}

.checkout .details .image>img {
    border-radius: 0.5rem;
}

.checkout .details .content h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.checkout .details .content p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.checkout .details .content .grid p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.checkout .details .content .grid p Small {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--clr-text-gray);
}


.farmer__details h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.farmer__details p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.farmer__details p Small {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--clr-text-gray);
}


.checkout .details>.grid>.farmer__details>*,
.checkout .details>.grid>.shipping__address>* {
    margin-bottom: 1rem;
}

.checkout .checkout__box {
    min-height: 20rem;
    padding: 1rem;
    border: 1px solid #e5e5e5;
}

.checkout .checkout__box>* {
    margin-bottom: 1rem;
}

.checkout .checkout__box .btn {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    background-color: var(--clr-primary, rgb(130, 250, 200));
    color: var(--clr-light, #fff);
}


@media screen and (max-width: 768px) {
    .checkout {
        grid-template-columns: 1fr;
    }
}