body {
    background: var(--clr-light, #fff);
}

.signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
}

.signup a {
    text-decoration: none;
    color: var(--clr-primary, #1dfe45);
}

.signup .banner {
    height: 100%;
    position: relative;
}

.signup .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.signup .banner__content {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(11, 11, 11, 0.8) 0%, rgba(0, 0, 0, 0.7) 100%);
    color: var(--clr-light, #fff);
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    /* font-size: clamp(1rem, 2vw, 1.75rem); */
    align-items: center;
    text-align: center;
}


.signup .content {
    padding: 2rem;
    padding-inline: clamp(4rem, 1.5vw, 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup .content .logo {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.signup .logo h2 {
    font-weight: 700;
}



.signup .card {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: 1rem;
}
.signup .card .header{
    margin-block: 1.2rem;
}
.signup .card .header h1 {
    font-weight: 600;
}


/* ======== */
.signup .card .header h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.signup .card .header p {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}



.signup .card .header  {
    margin: 0;
}


/* ====== */
.signup .card .header small {
    color: #4c4c4c;
}

.signup .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.signup .form label {
    margin-bottom:0.5rem;
}
.signup .form input {
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid var(--clr-primary, #1dfe45);
    border-radius: 5px;
    margin-bottom: 1rem;
}


.signup .form input[type="number"]::-webkit-outer-spin-button,
.signup .form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signup .form input[type="number"] {
  -moz-appearance: textfield;
}

.signup .form input:focus {
    outline: none;
}

.signup .form .form__control {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.signup .alert {
    color: #f00;
    background-color: #f571717c;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-block: 0.5rem;
    font-weight: 600;
    display: none;
}

.signup .alert.show {
    display: block;
}

.signup .form .error {
    border: 1px solid #f00;
}


.nextBtn{
    margin-top: 1.5rem;
    margin-right: auto;
    margin-bottom: 1rem;
}

.nextBtn2{
    margin-top: 0.75rem;
}
@media screen and (max-width: 1200px) {
    .signup .card {
        max-width: 90%;
    }

}

@media screen and (max-width: 1024px) {
    .signup {
        grid-template-columns: 1fr 1fr;
    }

    .signup .content {
        padding-inline: clamp(3rem, 1.5vw, 4rem);
    }

    .signup .card {
        max-width: 100%;
    }

    .signup .form .name {
        flex-direction: column;
        gap: 0;
    }

    .signup .content>p {
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    .signup {
        grid-template-columns: 1fr;
    }

    .signup .banner {
        display: none;
    }


    .signup .content {
        padding-inline: clamp(2rem, 1.5vw, 3rem);
    }

    .signup .card {
        max-width: 100%;
    }

    .signup .card .header {
        text-align: center;
    }

    .signup .banner__content {
        padding: 3rem;
    }

    .signup .form .name {
        flex-direction: row;
        gap: 1rem;
    }

}


@media screen and (max-width: 576px) {

    .actors {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .signup .form .name {
        flex-direction: column;
        gap: 0;
    }

    .signup .form label {
        text-align: left;
    }

    .signup .content {
        padding-inline: clamp(1.5rem, 1.5vw, 2rem);
    }

    .signup .content a,
    .signup .content p {
        font-size: clamp(0.8rem, 1.5vw, 1rem);
    }

}

@media screen and (max-width: 425px) {

    .signup .content {
        padding-inline: 1.5rem;
    }

}