.freespace__text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-text-gray, #000);
    margin-block: 2rem;
    text-align: center;
}

.special__announcment {
    padding: 1rem;
    margin-block: 2rem;
    background-color: rgba(0, 98, 255, 0.179);
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.special__announcment .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    aspect-ratio: 1;
}

.special__announcment .icon i {
    font-size: 2rem;
}

.special__announcment h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.special__announcment p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
    margin-bottom: 0.5rem;
}



.gigs {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2rem;
}


.cards {
    position: relative;
    min-height: 300px;
    padding: 2rem;
    background: rgb(37, 37, 37);
    border-radius: 0.5rem;

}

.cards .bg__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cards>.card {
    min-height: 100px;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    background-color: var(--clr-light);
}

.cards>.card .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid var(--clr-primary);
}

.cards>.card .icon i {
    font-size: 2.5rem;
    color: var(--clr-light);
}

.cards>.card .details {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1px solid var(--clr-primary);
}

.cards>.card .details h2 {
    font-weight: 600;
}

.cards>.card .details h2 small {
    font-size: 0.8rem;
    color: var(--clr-light, #fff);
    background-color: rgb(255, 77, 0);
    border-radius: 0.2rem;
    font-weight: 500;
    padding: 0.1rem 0.3rem;
}

.cards>.card .details p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
}


.gigTabs {
    margin-block: 2rem;
}


.activities {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    height: 500px;
    overflow-y: scroll;
}

.activities::-webkit-scrollbar {
    width: 0.5rem;
}

.activities::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.activities::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
}

.activities::-webkit-scrollbar-thumb:hover {
    background: #1a9d5f;
}


.activities .title {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.activities .title h3 {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.75rem;

}

.activities .activity {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 1rem;
}

.activities .activity .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activities .activity .icon_and_type {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.activities .activity .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.activities .activity .icon i {
    color: var(--clr-light);
    font-size: 0.5rem;
}


.activities .activity .details h5 {
    font-size: 0.9rem;
    font-weight: 600;
}

.activities .activity .details p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-text, #535353);
}

.activities .activity .time {
    margin-top: 0.5rem;
    font-size: 0.5rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
}

.active__gigs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0;
}

.active__gig {
    min-height: 200px;
    max-height: 300px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.active__gig:hover .active__gig_img img {
    filter: brightness(1);
}

.active__gig_card_floating_msg {
    color: var(--clr-light);
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    font-weight: 400;
}

.active__gig_card_floating_msg-danger {
    background-color: #cd2b5c;
}

.active__gig_card_floating_msg-secondary {
    background-color: var(--clr-secondary);
}

.active__gig_card_floating_msg-primary {
    background-color: var(--clr-primary);
}

.active__gig_card_floating_msg- {
    background-color: #f5a623;
}


#confirmModal {
    width:500px;
}

#confirmModal .caption {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
}

#confirmModal .body {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

#confirmModal .check{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#confirmModal .buttons{
    flex-direction: row;
}



.active__gig_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.active__gig_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0 0 0.5rem;
    transition: all 0.2s ease-in-out;
    filter: brightness(0.8);
}


.active__gig_content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.active__gig_title h3 {
    text-decoration: none;
    color: var(--clr-text, #000);
    font-size: 1.2rem;
    font-weight: 600;
}

.active__gig_title p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
}

.active__gig_farmer {
    position: absolute;
    inset: auto 0 0 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--clr-dark);
    padding: 0.75rem 1rem;
    border-radius: 0 0 0 0.5rem;
    opacity: 0.9;
    backdrop-filter: blur(5px);
}

.active__gig_farmer .img {
    width: 1.5rem;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

.active__gig_farmer .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active__gig_farmer .details a {
    text-decoration: none;
    color: var(--clr-light);
    font-weight: 300;
    font-size: 0.8rem;
}

.active__gig_other {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-end;
}

.active__gig_row {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.active__gig_other .item {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    min-width: 150px;
}

.active__gig_other .item small {
    font-size: 0.75rem;
    font-weight: 600;
}

.active__gig_other .item p {
    font-size: 1.2rem;
    font-weight: 400;
}


.tag {
    width: fit-content;
    display: block;
    padding: 0.2rem 0.5rem;
    background-color: var(--clr-gray, #a2a2a2);
    border-radius: 1rem;
    color: var(--clr-primary, #1d1d1d);
}

.item__card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.item__card a {
    text-decoration: none;
    color: var(--clr-dark, #000);
}

.item__card>.img {
    overflow: hidden;
}

.item__card>.img>img {
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item__card>.content a>h2 {
    font-weight: 600;
}

.item__card>.content p {
    font-weight: 500;
}

.item__card>.content small {
    color: var(--clr-text-gray);
    font-weight: 400;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.actions>button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.actions>button>i {
    font-size: 1.3rem;
    rotate: 0deg;
    transition: all 0.2s ease-in-out;
}

.actions>button>i[show] {
    rotate: 180deg;
}

.actions>button:hover>i {
    color: var(--clr-primary, #1d1d1d);
}

.review__card {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 0.5rem;
}

.review__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {
    .gigs {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .active__gig {
        grid-template-columns: 1fr;
    }

    .active__gig_other {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }

    .active__gig_img {
        max-height: 250px;
    }

    .active__gig_img img {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .caption {
        text-align: center;
    }

    .caption p {
        width: 80%;
        margin-inline: auto;
    }

    .cards {
        height: fit-content;
    }

    .gigs {
        grid-template-columns: 1fr;
    }


}

@media screen and (max-width: 576px) {
    .caption {
        text-align: center;
    }

    .caption p {
        width: 100%;
    }
}