.filters {
    padding-top:1rem;
    padding-bottom:2rem;
    border-bottom: 1px solid #ccc;
    align-items: end;
    justify-items: end;
}

.filters .search {
    display: flex;
}

.filters .search h4 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.filters .search input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.filters .search input:focus {
    outline: none;
}

.filters .search button {
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-primary);
    border-radius: 0 5px 5px 0;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    cursor: pointer;
}

.filters .search button:focus {
    outline: none;
}

.options {
    align-items: end;
}

.options .input__control {
    display: flex;
    flex-direction: column;
}

.options .input__control label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.options .input__control input[type="date"] {
    font-size: 0.8rem;
    padding: 0.3rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options .input__control select {
    font-size: 0.8rem;
    padding: 0.4rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options .input__control button {
    font-size: 0.8rem;
    padding: 0.4rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    cursor: pointer;
}

.caption {
    /* width: 60%; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-inline: 0;
}

.caption h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.caption p {
    width: 60%;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
    margin-bottom: 0.5rem;
}

.freespace__text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-text-gray, #000);
    margin-block: 2rem;
    text-align: center;
}

.special__announcment {
    padding: 1rem;
    margin-block: 2rem;
    background-color: rgba(0, 98, 255, 0.179);
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.special__announcment .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    aspect-ratio: 1;
}

.special__announcment h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.special__announcment p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
    margin-bottom: 0.5rem;
}



.gigs {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2rem;
}


.cards {
    height: 250px;
    padding: 2rem;
    /* border: 1px solid #1d9a6041; */
    /* background: #9a1d1d41; */
    background: #1d9a6041;
    border-radius: 0.5rem;

}

.cards>.card {
    min-height: 100px;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    background-color: var(--clr-light);
    /* grid-template-rows: 1fr 1fr; */
}

.cards>.card .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid var(--clr-primary);
}

.cards>.card .icon i {
    font-size: 1.5rem;
    color: var(--clr-light);
}

.cards>.card .details {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1px solid var(--clr-primary);
}

.cards>.card .details h2 {
    font-weight: 600;
}

.cards>.card .details h2 small {
    font-size: 0.8rem;
    color: var(--clr-light, #fff);
    background-color: rgb(255, 77, 0);
    border-radius: 0.2rem;
    font-weight: 500;
    padding: 0.1rem 0.3rem;
}

.cards>.card .details p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
}


.gigTabs {
    margin-block: 2rem;
}


.activities {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    /* padding: 0.5rem; */
    min-height: 300px;
    height: fit-content;
}

.activities .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid #ccc;
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.activities .title h3 {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.75rem;

}


.activities .activity {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
}

.activities .activity .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.activities .activity .icon i {
    color: var(--clr-light);
    font-size: 1rem;
}

.activities .activity .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activities .activity .details h5 {
    font-size: 0.9rem;
    font-weight: 600;
}

.activities .activity .details p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
}

.activities .activity .time {
    font-size: 0.5rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
}

/* 
.gig__wrapper {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.progress__bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.progress__bar label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress__bar span {
    font-weight: 500;
}

.progress__bar progress {
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
}

.progress__bar progress::-webkit-progress-bar {
    border-radius: 1rem;
    border: 1px solid #ccc;
    background-color: var(--clr-light);
}

.progress__bar progress::-webkit-progress-value {
    border-radius: 1rem;
    background-color: rgb(17, 118, 225);
}

.progress__bar label {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--clr-text-gray, #535353);
} */




.tag {
    width: fit-content;
    display: block;
    padding: 0.2rem 0.5rem;
    background-color: var(--clr-gray, #a2a2a2);
    border-radius: 1rem;
    color: var(--clr-primary, #1d1d1d);
}

.item__card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.item__card a {
    text-decoration: none;
    color: var(--clr-dark, #000);
}

.item__card>.img {
    overflow: hidden;
}

.item__card>.img>img {
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item__card>.content a>h2 {
    font-weight: 600;
}

.item__card>.content p {
    font-weight: 500;
}

.item__card>.content small {
    color: var(--clr-text-gray);
    font-weight: 400;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.actions>button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.actions>button>i {
    font-size: 1.3rem;
    rotate: 0deg;
    transition: all 0.2s ease-in-out;
}

.actions>button>i[show] {
    rotate: 180deg;
}

.actions>button:hover>i {
    color: var(--clr-primary, #1d1d1d);
}


.progress__bar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.progress__bar label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--clr-text-gray, #535353);
    margin-bottom: 0.5rem;
    padding-inline: 0.25rem;
}

.progress__bar span:first-child {
    font-weight: 700;
}

.progress__bar span {
    font-weight: 500;
}

.progress__bar progress {
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
}

.progress__bar progress::-webkit-progress-bar {
    border-radius: 1rem;
    border: 1px solid #ccc;
    background-color: var(--clr-light);
}

.progress__bar progress::-webkit-progress-value {
    border-radius: 1rem;
    background-color: rgb(17, 118, 225);
}

@media screen and (max-width: 1200px) {
    .caption p {
        width: 65%;
    }

}

@media screen and (max-width: 1024px) {
    .caption p {
        width: 75%;
    }

    .filters {
        align-items: normal;
        justify-items: start;
    }

    .gigs {
        grid-template-columns: 1fr;
    }



}

@media screen and (max-width: 768px) {
    .caption {
        text-align: center;
    }

    .caption p {
        width: 80%;
        margin-inline: auto;
    }

    .cards {
        height: fit-content;
    }

    .gigs {
        grid-template-columns: 1fr;
    }

    .filters {
        align-items: normal;
        justify-items: normal;
    }


}

@media screen and (max-width: 576px) {

    .caption {
        text-align: center;
    }

    .caption p {
        width: 100%;
    }

}

