.dashboard .header {
    min-height: 10rem;
    border: 1px solid #e5e5e5;
    border-radius: 0.5rem;
    background: #212121;
    color: var(--clr-light, white);
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

.dashboard .top__svg img {
    width: 100px;
    height: 100px;
}



.amount {
    /* display: flex; */
    align-items: baseline;
    gap: 0.5rem;
}

.cards {
    width: 100%;
    margin-block: 1rem;
    gap: clamp(1rem, 1vw, 2rem)
}

.cards .card {
    min-height: 6rem;
    padding: 1.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    background: #212121;
    color: #fff;
    /* box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.05); */
}

.cards .card h3 {
    font-size: 1rem;
    font-weight: 500;
}

.cards .card:last-of-type {
    background: #bc3131;
    color: #fff;
}


.cards .card h1 {
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 700;
}

.cards .card h4 {
    font-size: 0.6rem;
    font-weight: 700;
}

.cards .card p {
    font-size: 0.75rem;
    font-weight: 500;
    color: rgb(120, 120, 120);
}


.charts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.charts-mb-3 {
    margin-block: 3rem;
}

.charts-border {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.chart-pie {
    margin-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

#lineChart {
    max-height: 350px;
}

.chart {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    gap: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.05);
}

.chart h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--clr-text, #000);
}

.table__data {
    min-height: 200px;
    height: 100%;
    display: grid;
    place-items: center;
}

.chart__no_data {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.chart__no_data i {
    font-size: 2rem;
    color: var(--clr-danger, #f00);
}

.chart__no_data p {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--clr-text, #000);
}

.charts .chart canvas {
    width: 100%;
}

.charts #myChart {
    width: 100%;
    height: clamp(20rem, 30vw, 30rem);

}

.charts #pieChart {
    width: 100%;
    height: clamp(20rem, 30vw, 30rem);
}


.block {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--clr-light, #fff);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
}

.progress__inestments {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.heading {
    padding: 0.5rem 0;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    font-size: 1.1rem;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.heading h4 {
    font-size: 1rem;
    font-weight: 600;

}

.progress>.card {
    min-height: 7rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.progress:last-child>.card {
    border-bottom: none;
}

.progress>.card>.image {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.progress>.card>.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress>.card>.details {
    padding: 0.5rem 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.progress .card h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--clr-text, #000);
}

.progress .card h3 {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--clr-text, #000);
}

.progress .card h5 {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--clr-text-gray, #000);
}

.profit__widthdrawal {
    margin-block: 2rem;
}

.tag {
    padding: 0.3rem 0.7rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--clr-text, #000);
    background: #e4e4e4;

}

@media screen and (max-width: 1024px) {

    .dashboard .balance {
        margin-right: 1.5rem;
    }

    .progress__inestments {
        grid-template-columns: 3fr 1.8fr;
    }

    .block {
        padding: 0.75rem;
    }

    .progress>.card {
        padding: 0.75rem;
        grid-template-columns: 3fr 4fr;
    }

}

@media screen and (max-width: 768px) {

    .dashboard .header {
        padding: 1rem 2rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .cards .card {
        text-align: center;
    }

    .dashboard .charts {
        grid-template-columns: 1fr;
    }

    .dashboard .balance {
        margin-right: 0;
    }

    .progress__inestments {
        grid-template-columns: 1fr;
    }

    .block {
        padding: 0.5rem;
    }

    .progress>.card {
        /* padding: 0.5rem; */
        grid-template-columns: 3fr 4fr;
    }


}


@media screen and (max-width: 576px) {

    .block {
        padding: 0.25rem;
    }

    .progress>.card {
        /* padding: 0.25rem; */
        grid-template-columns: 1fr;
    }

    .progress>.card>.details>.flex-row-end {
        justify-content: space-between;
    }
}