.tag {
    width: fit-content;
    display: block;
    padding: 0.2rem 0.5rem;
    background-color: var(--clr-gray, #a2a2a2);
    border-radius: 1rem;
    color: var(--clr-primary, #1d1d1d);
}

.item__card {
    display: flex;
    gap: 1rem;
}

.item__card a {
    text-decoration: none;
    color: var(--clr-dark, #000);
    margin-block: auto;
}

.item__card>.img {
    height: 5rem;
    width: 5rem;
    min-width: 5rem;
    aspect-ratio: 1;
    overflow: hidden;
}

.item__card>.img>img {
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item__card>.content a>h2 {
    font-size: 1rem;
    font-weight: 600;
}

.item__card>.content p {
    font-weight: 500;
}

.item__card>.content small {
    color: var(--clr-text-gray);
    font-weight: 400;
}


.inv__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.inv__card {
    min-height: 5rem;
    background-color: var(--clr-light);
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 1px rgba(62, 62, 62, 0.1);
}

.inv__card__header {
    padding: 0.5rem 1rem;
    color: var(--clr-text);
}

.inv__card__header h3 {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}

.inv__card__body {
    color: var(--clr-text);
}

.inv__card__body h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.inv__card__body p {
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.5rem;
}

.inv__new {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width: 1200px) {
    .caption p {
        width: 65%;
    }

}

@media screen and (max-width: 1024px) {
    .caption p {
        width: 75%;
    }

}

@media screen and (max-width: 768px) {
    .caption {
        text-align: center;
    }

    .caption p {
        width: 80%;
        margin-inline: auto;
    }

}

@media screen and (max-width: 576px) {

    .caption {
        text-align: center;
    }

    .caption p {
        width: 100%;
    }
}