.left__right {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}


.details__card {
    min-height: 300px;
    /* border: 1px solid #ccc; */
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    /* box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1); */
    /* position: sticky;
    top: 6rem; */
}

.details__card .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.caption {
    /* width: 60%; */
    margin-bottom: 1rem;
    margin-inline: 0;
    flex-grow: 1;
}

.tab .caption {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}

.caption h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.caption h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.caption p {
    width: 60%;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
    margin-bottom: 0.5rem;
}


.details__card .bottom .de__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
}

.details__card .bottom .de__row-3 {
    grid-template-columns: 1fr 1fr 1fr;
}


.details__card .bottom .de__row .field {
    border-bottom: 1px solid #ccc;
}

.details__card .bottom .de__row .field small {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--clr-text);
    text-transform: capitalize;
}

.details__card .bottom .de__row .field p {
    margin-left: 0.25rem;
    font-size: 1.1rem;
    /* text-align: center; */
    font-weight: 400;
    color: var(--clr-text-gray);
    text-transform: capitalize;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}



.profile__card {
    min-height: 300px;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1); */
}


.profile__card .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;

}

.profile__card .top button {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.profile__card .top .profile__name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--clr-text);
    text-transform: capitalize;
}

.profile__card .top .profile__actor {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--clr-text-gray);
    text-transform: uppercase;
}



.profile__image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.5rem solid #fff;
}


.edit_photo {
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.profile__card .bottom {
    width: 100%;
}

.profile__card .bottom .card {
    padding: 0.75rem 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.profile__card .bottom .card:last-child {
    border-bottom: none;
}

.profile__card .bottom .card small {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--clr-text);
    text-transform: capitalize;
}

.profile__card .bottom .card p {
    margin-left: 0.25rem;
    font-size: 1.25rem;
    /* text-align: center; */
    font-weight: 400;
    color: var(--clr-text-gray);
    text-transform: capitalize;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}



.LKR::before {
    content: "LKR";
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 21, 0);
    margin-right: 0.5rem;
}

.head .row {
    border-top: 1px solid #ccc;
}

.Modal {
    min-width: 650px;
}

.Modal .container {
    margin: 1rem;
}

.Modal .caption {
    margin-bottom: 2rem;
}


.new__details_form {
    display: flex;
    flex-direction: column;

}

.input__control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.input__control label {
    font-weight: 600;
}

.input__control input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input__control input:focus {
    outline: 1px solid var(--clr-primary);
}

.input__control select {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input__control select:focus {
    outline: 1px solid var(--clr-primary);
}


.control__buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}



.image__uploader input {
    display: none;
}

.image__uploader .title p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.image__uploader .title span {
    color: red;
    font-size: 1.5rem;
}

.image__uploader .text__box {
    min-height: 100px;
    padding: 1rem;
    border: 2px dashed #ccc;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.image__uploader .upload__svg {
    width: 60px;
    margin-left: 2rem;
}

.image__uploader .text__box p {
    color: #3c3c3c;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.image__uploader .text__box_dragover {
    border: 2px solid var(--clr-primary, #ff6b00);
}


.browse__btn {
    color: var(--clr-light);
    background-color: var(--clr-primary);
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.1rem;

}

.previewer {
    display: grid;
    place-items: center;
    padding: 1rem;
}

.preview__image {
    width: 125px;
    height: 125px;
    /* background: red; */
    border-radius: 50%;
    border: 5px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preview__image .fa-plus {
    font-size: 2.5rem;
    color: #ccc;
}

.preview__image img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

/* .text__box_preview { */
/* width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 0.25rem;
    border-radius: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;
    display: none; */
/* }

.text__box_preview--update {
    display: grid;
}

.text__box_preview img {
    width: 75px;
    height: auto;
    margin: 0.5rem;
    object-fit: cover;
    filter: brightness(0.75);
    border-radius: 0.2rem;
    transition: all 0.2s ease-in-out;
}

.text__box_preview img:hover {

    filter: brightness(1);
} */


.action__buttons {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    gap: 1rem;
}

.edit_details {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    outline: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.edit_details i {
    font-weight: 700;
    font-size: 1rem;
}

.more {
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
}

.edit {
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
}

.delete {
    color: red;
    border: 1px solid red;
}

.delete:hover {
    background-color: red;
    color: var(--clr-light);
}

.more:hover {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.edit:hover {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}


.no__details {
    min-height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.no__details img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.no__details p {
    font-size: 1rem;
    font-weight: 600;
    color: #3c3c3c;
}


.stick {
    position: sticky;
    top: 8rem;
}

.profile__card .bottom .card .months__ago {
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-text-gray);
    text-transform: lowercase;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {
    .Modal {
        min-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .left__right {
        grid-template-columns: 1fr;
    }

    .right {
        order: 1;
    }

    .left {
        order: 2;
    }


    .details__card .bottom .de__row {
        grid-template-columns: 1fr;
        margin-bottom: 0;

    }

    .details__card .bottom .de__row-3 {
        grid-template-columns: 1fr;
    }

    .Modal {
        min-width: 500px;
    }
}

@media screen and (max-width: 576px) {
    .Modal {
        min-width: 400px;
    }
}