.form input {
  width: 100%;
  padding: 0.5rem;
  /* margin-bottom: 1rem;  */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form input:focus {
  outline: none;
  border-color: #707070;
}

.form textarea {
  width: 100%;
  padding: 0.8rem;
  /* margin-bottom: 1rem;  */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.details_img {
  height: 100%;
  width: 160px;
  height: 100%;
  /* border-radius: 12%; */
  overflow: hidden;
  /* margin-left: 50px; */
  /* margin: auto; */
  display: block;
}

/* .form input[type="file"] {
    display: none;
} */

.accordian {
  width: 95%;
  /* margin: 90px auto; */
  color: black;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  /* margin: 0; */
  /* padding: 45px 45px; */
}

.content {
    padding-bottom: 5px;
}
/* 
.accordian .container {
    position: relative;
    width: 1500px;
    margin: 10px 10px;
  } */

.accordian .accordian-heading {
  position: relative;
  padding: 0 0;
  font-size: 23px;
  color: black;
  cursor: pointer;
}

.accordian .accordian-heading::before {
  content: "+";
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordian .accordian-details {
  position: relative;
  background: white;
  height: 0;
  font-size: 14px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

.accordian hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.content.active .accordian .accordian-details {
  height: 400px;
  /* display: block !important; */
}

.content.active .accordian .accordian-heading::before {
  content: "-";
  font-size: 23px;
}

.dashboard {
  min-height: 100vh;
}

.image__uploader input {
  display: none;
}

.image__uploader .title p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.image__uploader .title span {
  color: red;
  font-size: 1.5rem;
}

.image__uploader .text__box {
  min-height: 150px;
  padding: 2rem;
  border: 2px dashed #ccc;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.image__uploader .upload__svg {
  width: 150px;
  margin-left: 2rem;
}

.image__uploader .text__box p {
  color: #3c3c3c;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.image__uploader .text__box_dragover {
  border: 2px solid var(--clr-primary, #ff6b00);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*css to have two input fieds in same line*/  
.form-inline { 
  display: flex; 
  direction: row;
  /* flex-flow: row wrap;  */
  /* align-items: center;  */
}

.form-inline label { 
  margin: 5px 10px 5px 0; 
}

.form-inline input { 
  width: 100%;
  vertical-align: middle; 
  margin: 5px 10px 5px 0; 
  padding: 10px; 
  background-color: #fff; 
  border: 1px solid #ddd; 
}

.details_img li {
  float: left;
  list-style: none;
  /* padding-right:10px;  */
}




