.message-icon {
    font-size: 50px;
    color: #1FAA68;
    /* margin-left: 120px; */
    margin-top: 45px;
}

.rating_checked {
    color: orange;
}

.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }
  
.average-rating::before {
    /* --percent: calc(4.3/5*100%); */
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    /* font-weight: 500; */
    color: rgba(0,0,0,0.2);
    background:
      linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.search {
    display: flex;
}

.search h4 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.search input {
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 50%;
}

.search input:focus {
    outline: none;
}

.search button {
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-primary);
    border-radius: 0 5px 5px 0;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    cursor: pointer;
}

.search button:focus {
    outline: none;
}



.farmer_continer {
    margin-bottom: 30px;
}

.no_farmers_card {
    margin: 1rem 0;
    min-height: 300px;
    display: grid;
    place-items: center;
    background-color: rgb(235, 235, 235, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
}

.no_farmers_card>p {
    font-size: var(--fs-6);
}

.farmer_card_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.farmer_card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    height: fit-content;
    /* margin: auto auto; */
    padding: 1rem 0;
}

.farmer_img {
    height: 100%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
    margin: auto;
    display: block;
}

.farmer_img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.farmer_inner_card{
    display: grid;
    grid-template-columns: 3fr 2fr;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* border-radius: 0.5rem; */
    height: 120px;
}

.farmer_button_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* border-radius: 0.5rem; */
    height: 120px;
}

.farmer_card_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    width: 100%;
}

.farmer_card_content p {
    margin-right: 500px;
}

/* .farmer_card_content h2 {
    font-size: var(--fs-6);
    font-weight: var(--fw-6);
} */

/* .farmer_card_content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.modal {
    /* margin-top: 100px; */
    /* justify-content: center;
    align-items: center; */
    padding-top: 150px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /*Sit on top*/
    /* padding-top: 30px;  */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .form {
    width: 90%;
    /* max-width: 1000px;  */
    padding-left: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    padding: 0.5rem;
    /* margin-bottom: 1rem;  */
    border: 1px solid #ccc;
    border-radius: 5px;

}

.form input:focus {
    outline: none;
    border-color: #707070;
}

.form button {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1FAA68;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}


.is-hidden { 
    display: none; 
}

