body {font-family: Arial, Helvetica, sans-serif;}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  /* padding-top: 30px;  */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* margin-bottom: 30px; */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* form css from sign up */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fbfbfb;
    font-weight: 300;
}


.form {
    width: 80%;
    /* max-width: 1000px;  */
    /* padding-left: 20px;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    padding: 0.5rem;
    /* margin-bottom: 1rem;  */
    border: 1px solid #ccc;
    border-radius: 5px;

}

.form > .input_wrapper {
  width: 100%;
}

.form input:focus {
    outline: none;
    border-color: #707070;
}

.form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1FAA68;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.profile_continer {
  margin-bottom: 30px;
}

.profile_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.profile_card {
  display: grid;
  grid-template-columns: 1fr 4fr ;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  height: 150px;
  padding: 50px;
}

.profile_img {
  height: 100%;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 50px;
  margin: auto;
  display: block;
}

.profile_img>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  width: 100%;
}

.profile_content p {
  margin-right: 0.5rem;
}

.profile_content h2 {
  font-size: var(--fs-6);
  font-weight: var(--fw-6);
}

.profile_content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating_checked {
  color: orange;
}

.average-rating {
  position: relative;
  appearance: none;
  color: transparent;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
}

.average-rating::before {
  /* --percent: calc(4.3/5*100%); */
  content: '★★★★★';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  /* font-weight: 500; */
  color: rgba(0,0,0,0.2);
  background:
    linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

