.caption {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-inline: 0;
}

.caption h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.caption h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.caption p {
    width: 60%;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
    margin-bottom: 0.5rem;
}


.gig_row {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    gap: 3rem;
    margin: 1rem 0;
}

.gig_left {
    position: relative;
}

.fix-top {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    font-size: 0.75;
}

.image__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    cursor: pointer;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.image__button:hover {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.gig__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.gig__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.slider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.slide_img {
    height: 100px;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.slide_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gig__right {
    /* border: 1px solid #ccc; */
    border-radius: 0.5rem;
    padding: 1rem;
}

.gig__content {
    margin-bottom: 1rem;
}

.gig__content .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.gig__content .row-1 {
    grid-template-columns: 1fr;
}


.gig__content .row .field {
    border-bottom: 1px solid #ccc;
}

.gig__content .row .field small {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--clr-text);
    text-transform: capitalize;
}

.gig__content .row .field p {
    margin-left: 0.25rem;
    font-size: 1.1rem;
    /* text-align: center; */
    font-weight: 400;
    color: var(--clr-text-gray);
    text-transform: capitalize;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}


.gig__content .description {
    margin: 0 1rem;
}

.buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.border-box {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 2rem;
    padding-top: 0;
    margin: 2rem 0;
}

.Modal {
    min-width: 650px;
}

.Modal .container {
    margin: 1rem;
}

.Modal .caption {
    margin-bottom: 2rem;
}


.new__details_form {
    display: flex;
    flex-direction: column;

}

.input__control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.input__control label {
    font-weight: 600;
}

.input__control input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input__control input:focus {
    outline: 1px solid var(--clr-primary);
}

.input__control select {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input__control select:focus {
    outline: 1px solid var(--clr-primary);
}

.input__control textarea {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 200px;
    resize: none;
}

.input__control textarea:focus {
    outline: 1px solid var(--clr-primary);
}


.control__buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


@media screen and (max-width: 768px) {
    .gig_top {
        grid-template-columns: 1fr;
    }

    .slider {
        grid-template-columns: 1fr 1fr;
    }

    .gig__content .row {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 540px) {
    .slider {
        grid-template-columns: 1fr;
    }
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0.5rem !important;
}