nav {
    background-color: var(--clr-dark, #000);
}


.result__images {
    height: 100%;
    overflow: hidden;
}

.result__images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.result__content {
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 1rem;
}

.rating__grid {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 3rem;
    margin: 4rem 0;
    padding: 2rem 0;
    /* background-color: var(--clr-gray); */
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 0.8rem;
}

.rating__number {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rating__number>h1 {
    font-size: var(--fs-8);
}

.rating__bars {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.rating__bars>.bar {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.rating__bars>.bar>label {
    display: block;
    width: 0.3rem;
    font-size: var(--fs-3);
}

.rating__bars>.bar>progress {
    width: 80%;
    height: 2rem;
    font-size: var(--fs-6);
}

.description {
    margin: 3rem 0;
    padding: 2rem 1rem;
}

.description> :where(h1, pre) {
    font-family: var(--ff-poppins);
}

.reviews {
    margin: 3rem 0;
}

.review {
    padding: 2rem 1rem;
    border-radius: 0.8rem;
    border: solid 1px rgba(0, 0, 0, 0.3);
}

.reviews__wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.review__header {
    text-transform: capitalize;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


.review__header>img {
    width: 2rem;
    aspect-ratio: 1;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    cursor: pointer;

}

.review__header>h3 {
    font-weight: var(--fw-5);
}

.review__footer {
    padding-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}