nav {
    background-color: var(--clr-dark, #000);
}

.mb {
    margin-top: 5rem;
    margin-bottom: 2rem;
}


.images__details {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5rem;
    position: relative;
}


.images__details .left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.images__details .gig__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    margin: 2rem 0;
    color: var(--clr-text);
    text-transform: capitalize;
}

.about__farmer {
    /* background-color: red; */
    /* border: 1px solid #ccc; */
    /* box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1); */
    /* padding: 1rem; */
    margin-bottom: 2rem;
}

.about__farmer>h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--clr-text);
    padding-bottom: 1rem;
}

.farmer__image_name {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-block: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.farmer__image_name .farmer__image {
    width: 6rem;
    height: 6rem;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.farmer__image_name .farmer__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.farmer__image_name .farmer__name {
    text-decoration: none;
    color: var(--clr-text);
}

.farmer__image_name .farmer__name h3 {
    color: var(--clr-text);
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
}

.farmer__image_name .farmer__name h4 {
    color: var(--clr-text-gray);
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}

.farmer__details {
    margin-bottom: 2rem;
}

.farmer__details small {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--clr-text-gray);
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.farmer__details p {
    margin-block: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-text);
}

.bio {
    margin-bottom: 2rem;
}

.bio p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-text);
    line-height: 1.5;
}

.image__gallery {
    /* height: 100%; */
}

.image__gallery .thumbnail {
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.image__gallery .thumbnail img {
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image__gallery .slider {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
}

.image__gallery .slider .slide {
    height: 100px;
    overflow: hidden;
}

.image__gallery .slider .slide img {
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.images__details .right {}

.result__images {
    height: 100%;
    overflow: hidden;
}

.result__images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.result__content {
    margin-top: 2.5rem;
    border: 1px solid #ccc;
    padding: 1.5rem;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    position: sticky;
    top: 9.75rem;
}

.card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.active__batch {
    top: 1rem;
    right: 1rem;
    background-color: var(--clr-primary);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.active__batch>p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-light);
}

.category__subcategory {
    /* margin-top: 2rem; */
    display: flex;
    gap: 1rem;
}

.category__subcategory>p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-primary);
    text-transform: capitalize;
}

.capital__profitRate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;

}

.content__item {
    margin-bottom: 1rem;
}

.content__item:before {
    /* content: "🟢"; */
    /* position: absolute;
    top: 0;
    left: 0; */
    /* height: 100%; */
}

.capital__profitRate small,
.content__item small {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--clr-text-gray);
}

.capital__profitRate p {
    padding-top: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--clr-text);
}

.content__item p {
    margin-top: 0.5rem;
    /* margfoin-left: 1.5rem; */
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--clr-text);
}

.flexsb {
    margin-right: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.capital__profitRate .profit__precentage {
    color: var(--clr-primary);
}

.LKR {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(241, 90, 26);
    margin-right: 0.5rem;
}

.btns {
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.button__primary {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button__primary:hover {
    background-color: var(--clr-primary-light);
}

.button__primary-invert {
    background-color: var(--clr-light);
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button__primary-invert:hover {
    background-color: #efefef;
}


.gig__description {
    /* margin-block: 4rem; */
}

.gig__description h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--clr-text);
    margin-bottom: 1rem;
}

.gig__description p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-dark);
}



.chart__rating {
    margin-block: 2rem;
}

.chart__rating>div {
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);

}

.chart__rating h3 {
    /* text-align: center; */
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--clr-text);
}

.chart__rating canvas {
    margin-top: 2rem;

}

.ratings>div>p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-dark);
}

.catch__phrase {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--clr-text-gray);
}

.rating__grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}

.rating__number {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating__number>h1 {
    color: var(--clr-text);
    font-size: 4rem;
    font-weight: 600;
}

.rating__number p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-text-gray);
}

.rating__bars {
    width: 100%;
    height: 100%;
    display: flex;
    /* gap: 1rem; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.rating__bars>.bar {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.rating__bars>.bar>label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: var(--fs-3);
}

.rating__bars>.bar>label>p {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    min-width: 0.5rem;
}

.rating__bars>.bar i {
    color: yellow;
}

.rating__bars>.bar>progress {
    /* background-color: transparent; */
    /* border-radius: 5px; */
    width: 100%;
    height: 2rem;
    font-size: var(--fs-6);
}

/* 
progress {
    background-color: green;
}

progress::-webkit-progress-value {
    background-color: yellow;
} */

.flexcolsb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ratings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating__title {
    margin-bottom: 2rem;
}

.rating__title h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--clr-text);
    margin-bottom: 0.5rem;
}

.rating__title p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-dark);
}

.reviews {
    /* margin: 3rem 0; */
}

.reviews>h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--clr-text);
    margin-bottom: 1rem;
}

.review {
    padding: 2rem 1rem;
    border-radius: 0.8rem;
    border-bottom: solid 1px #ccc;
}

.reviews__wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.review__header {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}


.review__header>img {
    width: 2rem;
    aspect-ratio: 1;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    cursor: pointer;

}

.glow {
    color: yellow;
}

.review__header>h3 {
    font-weight: var(--fw-5);
}

.review__footer {
    padding-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}



@media screen and (max-width: 1024px) {
    .images__details {
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .images__details {
        grid-template-columns: 1fr;
        gap: 1rem;
    }


}


@media screen and (max-width: 576px) {
    .images__details {
        grid-template-columns: 1fr;
    }
}