.card  {
    padding: 20px;
    border: 1px solid black;
    min-height: 300px;
    background-color: white;
  }


.agropic{
    width:200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 0px 5px 0px;
}

.agropic>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.namecol{
    display: flex;
    flex-direction: column;
}
