.requests__cn {
    margin-bottom: 30px;
    /* -------- */
}

.requests__wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    /* ------------ */
}

.requestcard {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    height: 150px;
    /* ---------------- */
}

.requestimg {
   
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
    margin: auto;
    display: block;
    /* -------------------- */
}

.requestimg>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.requestcont {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem 3.5rem;
    width: 100%;
    /* -------------- */
}















