.caption {
    /* width: 60%; */
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-inline: 0;
}

.caption h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.caption p {
    width: 60%;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-text-gray, #535353);
    margin-bottom: 0.5rem;
}


.invoice {
    border: 1px solid #ccc;
    padding: 1rem;
    min-height: 400px;
    margin: 1rem 5rem;
}

.invoice form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;
}

.grid {
    margin-bottom: 3rem;
}


.pay__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.pay__control input {
    border: none;
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
}

.sub_total {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    color: #000;
}


.pay__button {
    margin-top: 1rem;
}